
<div class="d-flex">
  <!-- Sidebar -->
  <div class="sidebar p-3" style="width: 250px;" id="sidebar">

    <hr class="bg-light my-3">

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/produtos" routerLinkActive="active">
          <i class="fas fa-file-contract"></i>
          Produtos
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/relatorios" routerLinkActive="active">
          <i class="fas fa-chart-line"></i>
          Relatórios
        </a>
      </li>
    </ul>

    <hr class="bg-light my-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">
          <i class="fas fa-users-cog"></i>
          Usuários
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content w-100">
    <!-- Top Navigation -->
    <div class="flex-grow-1">
      <router-outlet></router-outlet>
    </div>



  </div>


</div>
